# Configuration base de données PostgreSQL
POSTGRES_DB=tdadb
POSTGRES_USER=tdadb_user
POSTGRES_PASSWORD=tdadb_pass

# Configuration de l'application
APP_USERNAME=app_user
APP_PASSWORD=app_pass

APP_ALLOWED_ORIGINS=http://localhost:9001