#status {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9999;

    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;

    text-align: left;
}

#top-offset{
    margin-top: 60px;
}