<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PMD xxx</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet"
          th:href="@{/css/xxx.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="starter-template">
        <h5>xxx page</h5>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>