<!DOCTYPE HTML>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TDA</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<h1>Accueil TDA</h1>
<div id="error"></div>
<div class="container-fluid">
    <div class="custom-tabs">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                        aria-controls="score"
                        aria-selected="true"
                        class="nav-link active"
                        data-bs-target="#score"
                        data-bs-toggle="tab"
                        id="scores-tab"
                        role="tab"
                        type="button">Score
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                        aria-controls="graph"
                        aria-selected="false"
                        class="nav-link"
                        data-bs-target="#graph"
                        data-bs-toggle="tab"
                        id="graph-tab"
                        role="tab"
                        type="button">Graph
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                        aria-controls="manches"
                        aria-selected="false"
                        class="nav-link"
                        data-bs-target="#manches"
                        data-bs-toggle="tab"
                        id="manches-tab"
                        role="tab"
                        type="button">Manches
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="scores-tab" class="tab-pane fade show active" id="score" role="tabpanel">
                <div th:replace="~{fragments/score :: score}"></div>
            </div>
            <div aria-labelledby="graph-tab" class="tab-pane fade" id="graph" role="tabpanel">
                <div th:replace="~{fragments/graph :: graph}"></div>
            </div>
            <div aria-labelledby="manches-tab" class="tab-pane fade" id="manches" role="tabpanel">
                <div th:replace="~{fragments/manches :: manches}"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div id="status">🟡 Connexion en cours...</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="" th:src="@{/js/main.js}" type="text/javascript"></script>
</body>
</html>