<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TDa Réunion</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
    <link href="" rel="stylesheet"
          th:href="@{/css/reunion.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container-fluid">
        <div id="top-offset"></div>
    <div id="reunion-creation" th:if="${etape == 1}">
        <p>Creation</p>
    </div>
    <div id="nreunion-encours" th:if="${etape > 1}">
        <p>En cours</p>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>